# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.venv/

# ===============================
# PyCharm / JetBrains
# ===============================
.idea/
*.iml

# ===============================
# Flask / Environment
# ===============================
instance/
*.log

# ===============================
# SQLite Database
# ===============================
*.db
*.sqlite3
*.sqbpro

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db