*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: Poppins, sans-serif;
    min-height: 100%;
}

main {
 min-height: 100vh;
}
